In [3]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

In [2]:
df=pd.read_excel('meta_traits.xlsx',sheet_name='processed',header=0)
df.head()

,sample,meta,meta_type,R1,R2,R3,R4,R5,R6
0,WT-8D,Erythritol,sugars,1.289934,1.124412,1.596070,1.823150,2.101291,2.265822
1,WT-8D,Fructose,sugars,1997.346528,1442.185941,1956.597272,2151.192893,1876.716444,1870.350206
2,WT-8D,Fructose-6-Phosphate,sugars,7.532734,9.286762,8.610833,7.892344,8.926348,9.144884
3,WT-8D,Galactose,sugars,760.920990,658.440248,794.105894,809.310536,819.508768,842.115925
4,WT-8D,Gentiobiose,sugars,40.865203,38.841077,45.114129,44.775970,45.973515,53.463335

In [10]:
# Define a function to remove outliers based on Z-scores
def remove_outliers(values, z_threshold=3):
    values = np.array(values, dtype=float)  # Convert to numpy array with float data type
    z_scores = zscore(values)
    mask = np.abs(z_scores) < z_threshold
    return values[mask]

In [6]:
df.dtypes

sample        object
meta          object
meta_type     object
R1           float64
R2           float64
R3           float64
R4           float64
R5           float64
R6           float64
dtype: object

In [11]:
# Iterate through each row and calculate means after removing outliers
for index, row in df.iterrows():
    replicates = row[-6:]  # Extract the last six columns
    replicates_cleaned = remove_outliers(replicates)
    mean_value = np.mean(replicates_cleaned)
    df.at[index, 'Mean'] = mean_value

In [12]:
df.head()

,sample,meta,meta_type,R1,R2,R3,R4,R5,R6,Mean
0,WT-8D,Erythritol,sugars,1.289934,1.124412,1.596070,1.823150,2.101291,2.265822,1.700113
1,WT-8D,Fructose,sugars,1997.346528,1442.185941,1956.597272,2151.192893,1876.716444,1870.350206,1882.398214
2,WT-8D,Fructose-6-Phosphate,sugars,7.532734,9.286762,8.610833,7.892344,8.926348,9.144884,8.565651
3,WT-8D,Galactose,sugars,760.920990,658.440248,794.105894,809.310536,819.508768,842.115925,780.733727
4,WT-8D,Gentiobiose,sugars,40.865203,38.841077,45.114129,44.775970,45.973515,53.463335,44.838871

In [49]:
pivoted_df = df.pivot(index='sample', columns='meta', values='Mean')
pivoted_df.head()

meta,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,4-Aminobutyric acid,4-Hydroxybutanoic acid,Adenine,...,Threonine,Trehalose,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose
sample,,,,,,,,,,,,,,,,,,,,,
WT-16D,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,13.725216,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
WT-8D,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,22.658408,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764
hvhggt-16D,1.663482,29.546232,49.971666,1.127227,3.898007,0.475328,1.257038,1879.987512,1.406352,42.285822,...,470.070881,228.241972,98.518579,222.349393,51.218387,2.114163,45.742178,604.215137,1.012348,8.065119
hvhggt-8D,2.110800,1.820106,27.644191,1.391663,6.122950,0.894317,2.122835,1937.977286,1.226577,95.706155,...,594.962509,186.207479,83.034682,276.418542,24.090547,0.996721,46.077520,1466.774583,1.696361,25.441617

In [50]:
pivoted_df = pivoted_df.reset_index()
pivoted_df.head()

meta,sample,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,4-Aminobutyric acid,4-Hydroxybutanoic acid,...,Threonine,Trehalose,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose
0,WT-16D,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
1,WT-8D,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764
2,hvhggt-16D,1.663482,29.546232,49.971666,1.127227,3.898007,0.475328,1.257038,1879.987512,1.406352,...,470.070881,228.241972,98.518579,222.349393,51.218387,2.114163,45.742178,604.215137,1.012348,8.065119
3,hvhggt-8D,2.110800,1.820106,27.644191,1.391663,6.122950,0.894317,2.122835,1937.977286,1.226577,...,594.962509,186.207479,83.034682,276.418542,24.090547,0.996721,46.077520,1466.774583,1.696361,25.441617

In [51]:
# Define a dictionary with replacement mappings
replacement_dict = {
    'WT-': 'WT_',
    'hvhggt-': 'hggt_'
}
for old_str, new_str in replacement_dict.items():
    pivoted_df['sample'] = pivoted_df['sample'].str.replace(old_str, new_str)

pivoted_df.head()

meta,sample,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,4-Aminobutyric acid,4-Hydroxybutanoic acid,...,Threonine,Trehalose,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose
0,WT_16D,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
1,WT_8D,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764
2,hggt_16D,1.663482,29.546232,49.971666,1.127227,3.898007,0.475328,1.257038,1879.987512,1.406352,...,470.070881,228.241972,98.518579,222.349393,51.218387,2.114163,45.742178,604.215137,1.012348,8.065119
3,hggt_8D,2.110800,1.820106,27.644191,1.391663,6.122950,0.894317,2.122835,1937.977286,1.226577,...,594.962509,186.207479,83.034682,276.418542,24.090547,0.996721,46.077520,1466.774583,1.696361,25.441617

In [52]:
merged_df = pd.DataFrame()
suffixes = ['_1', '_2', '_3']
for suff in suffixes:
    df_tem = pivoted_df.copy()
    df_tem['sample'] = df_tem['sample'] + suff
    merged_df = pd.concat([merged_df, df_tem], ignore_index=True)

In [54]:
merged_df.head()

meta,sample,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,4-Aminobutyric acid,4-Hydroxybutanoic acid,...,Threonine,Trehalose,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose
0,WT_16D_1,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
1,WT_8D_1,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764
2,hggt_16D_1,1.663482,29.546232,49.971666,1.127227,3.898007,0.475328,1.257038,1879.987512,1.406352,...,470.070881,228.241972,98.518579,222.349393,51.218387,2.114163,45.742178,604.215137,1.012348,8.065119
3,hggt_8D_1,2.110800,1.820106,27.644191,1.391663,6.122950,0.894317,2.122835,1937.977286,1.226577,...,594.962509,186.207479,83.034682,276.418542,24.090547,0.996721,46.077520,1466.774583,1.696361,25.441617
4,WT_16D_2,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453

In [55]:
merged_df = merged_df.sort_values(by='sample', ascending=True)
merged_df.head()

meta,sample,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,4-Aminobutyric acid,4-Hydroxybutanoic acid,...,Threonine,Trehalose,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose
0,WT_16D_1,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
4,WT_16D_2,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
8,WT_16D_3,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
1,WT_8D_1,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764
5,WT_8D_2,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764

In [56]:
merged_df['sample']

0       WT_16D_1
4       WT_16D_2
8       WT_16D_3
1        WT_8D_1
5        WT_8D_2
9        WT_8D_3
2     hggt_16D_1
6     hggt_16D_2
10    hggt_16D_3
3      hggt_8D_1
7      hggt_8D_2
11     hggt_8D_3
Name: sample, dtype: object

In [57]:
mutation = [0,0,0,0,0,0,1,1,1,1,1,1]
day = [16,16,16,8,8,8,16,16,16,8,8,8]
merged_df['mutation'] = mutation
merged_df['day'] = day

In [58]:
merged_df.head()

meta,sample,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,4-Aminobutyric acid,4-Hydroxybutanoic acid,...,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose,mutation,day
0,WT_16D_1,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453,0,16
4,WT_16D_2,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453,0,16
8,WT_16D_3,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,123.392758,1.318154,...,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453,0,16
1,WT_8D_1,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764,0,8
5,WT_8D_2,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,1004.668076,1.533199,...,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764,0,8

In [59]:
len(columns)

89

In [60]:
columns = ['sample',
           'mutation',
           'day',
 '1,3-Di-Tert-Butylbenzene',
 '2-Aminoadipic acid',
 '2-Aminobutyric acid',
 '2-Hydroxyglutaric acid',
 '2-Keto-L-Gluconic acid',
 '2-Ketoglutaric acid',
 '2-Oxoisocaproic acid',
 '4-Aminobutyric acid',
 '4-Hydroxybutanoic acid',
 'Adenine',
 'Adenosine',
 'Alanine',
 'Asparagine',
 'Aspartic acid',
 'Beta-Alanine',
 'Citric acid',
 'Cysteine',
 'Di-Beta-Hydroxybutyric acid',
 'Erythritol',
 'Erythronic acid',
 'Ethanolamine',
 'Fructose',
 'Fructose-6-Phosphate',
 'Fumaric acid',
 'Galactose',
 'Gentiobiose',
 'Gluconic acid',
 'Glucose',
 'Glucose-6-Phosphate',
 'Glutamic acid',
 'Glyceric acid',
 'Glycerol',
 'Glycerol-3-Phosphate',
 'Glycine',
 'Glycolic acid',
 'Heptanoic acid',
 'Hexadecanoic acid',
 'Histidine',
 'Homoserine',
 'Isoleucine',
 'Isomaltose',
 'L-Glutamine',
 'Lactic acid',
 'Leucine',
 'Lysine',
 'Malic acid',
 'Malonic acid',
 'Maltose',
 'Mannitol',
 'Methionine',
 'Monomethylphosphate',
 'Myo-Inositol',
 'Myo-Inositol-1-Phosphate',
 'Nicotinic acid',
 'Octadecanoic acid',
 'Orotic acid',
 'Oxalic acid',
 'Parabanic acid',
 'Phenylalanine',
 'Phosphoric acid',
 'Pipecolic acid',
 'Proline',
 'Putrescine',
 'Pyroglutamic acid',
 'Pyruvic acid',
 'Quinic acid',
 'Ribose',
 'S-Methyl-Cysteine',
 'Serine',
 'Shikimic acid',
 'Sorbitol-6-Phosphate',
 'Spermidine',
 'Suberyl-Glycine',
 'Succinic acid',
 'Sucrose',
 'Threonic acid',
 'Threonine',
 'Trehalose',
 'Tryptophan',
 'Tyrosine',
 'Uracil',
 'Urea',
 'Uridine',
 'Valine',
 'Xylitol',
 'Xylose']

In [61]:
merged_df = merged_df[columns]
merged_df.head()

meta,sample,mutation,day,"1,3-Di-Tert-Butylbenzene",2-Aminoadipic acid,2-Aminobutyric acid,2-Hydroxyglutaric acid,2-Keto-L-Gluconic acid,2-Ketoglutaric acid,2-Oxoisocaproic acid,...,Threonine,Trehalose,Tryptophan,Tyrosine,Uracil,Urea,Uridine,Valine,Xylitol,Xylose
0,WT_16D_1,0,16,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
4,WT_16D_2,0,16,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
8,WT_16D_3,0,16,1.691127,15.505808,9.200334,1.761205,3.549224,13.434477,1.454947,...,439.649662,229.797289,50.212924,86.484197,102.347996,2.273135,13.486034,352.457407,1.636187,4.342453
1,WT_8D_1,0,8,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764
5,WT_8D_2,0,8,2.410496,1.114313,29.388846,1.446237,6.556177,1.252001,2.632365,...,797.403970,159.647025,62.559573,198.506188,47.638655,0.803933,20.300277,2187.590224,1.705393,14.057764

In [62]:
merged_df.to_csv('allTraits.csv',index=False)